<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="row w-100">
		<div class="col">
			<a href="/"><img src="/imgs/logo.png"></a>
		</div>
			<div class="col p-1">
				<div class="float-right">
					{{#if wiki}}
						<button id="backup" class="btn btn-outline-dark my-2 my-sm-0 mx-1" type="button">Local Backup</button>
						<a href="/wiki/{{wiki}}/createPage">
							<button class="btn btn-outline-dark my-2 my-sm-0" type="button">Add Page</button>
						</a>
					{{/if}}
					{{#if wikis}}
						<a href="/createWiki">
							<button class="btn btn-outline-dark my-2 my-sm-0" type="button">New Wiki</button>
						</a>
					{{/if}}
				</div>
			</div>
	</div>
</nav>