<div class="bg">
    <h1 class="text-center" id="wikiname"><b>{{wiki}}</b></h1>
    <div class="row justify-content-center">
        <div class="col-9 text-center">
            <input id="name" class="form-control mb-2" type="text" placeholder="Title" autocomplete="off">
            {{>box}}
            <button id="write" class="btn btn-lg btn-outline-light mb-2 mt-2">Create</button>
        </div>
    </div>
</div>
