<div class="text-light">
	<form method="post">
		<div class="input-group input-group-lg mt-4">
			<input type="text" name="wikiname" class="form-control input-lg" placeholder="My new wiki name" minlength="3" autocomplete="off">
			<div class="input-group-append">
				<button class="btn btn-outline-light" type="submit">Confirm</button>
			</div>
		</div>
	</form>
</div>