<div class="bg">
    <h1 id="title" class="text-center"><b>Edit {{title}}</b></h1>
    <div class="row justify-content-center">
        <div class="col-9 text-center">
            <input id="name" class="form-control mb-2" type="text" placeholder="Title" value="{{title}}">
            {{>box}}

            <button id="edit" data-wiki="{{wiki}}" class="btn btn-lg btn-outline-light mb-2 mt-2 mr-1">Update</button><button id="delete" class="btn btn-lg btn-outline-light mb-2 mt-2 ml-1">Delete</button>
        </div>
    </div>
</div>
