<div class="bg">
    <h1 id="title" class="text-center"><b>Edit {{title}}</b></h1>
    <div class="row justify-content-center">
        <div class="col-9 text-center">

            {{>box}}

            <button id="edit" class="btn btn-lg btn-outline-light mb-2 mt-2">Update</button>
        </div>
    </div>
</div>
