<div class="row text-center">
	<div class="col">
		<div class="dropdown">
			<button class="btn btn-lg btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Select Wiki
			</button>
		
			<ul class="dropdown-menu" aria-labelledby="dLabel">
				<ul class="list-group">
					{{#each wikis}}
						{{#with this}}
							<li><a href="/wiki/{{name}}">{{name}}</a></li>
						{{/with}}
					{{/each}}
				</ul>
		</div>
	</div>
</div>