<div class="row justify-content-center">
    <div class="col col-md">
        <div class="input-group input-group-lg mt-4">
            <input type="text" id="search" class="form-control input-lg" placeholder="My cool character.." autocomplete="off">
            <div class="input-group-append">
                <button class="btn btn-outline-light" type="button">Search</button>
            </div>
        </div>
        <ul id="suggestions" class="list-group">
            {{#each all}}
                {{#with this}}
                    <li class="list-group-item option" style="display: none;">{{title}}</li>
                {{/with}}
            {{/each}}
        </ul>
    </div>
</div>